
p, h1, h2, h3, h4, h5, h6, em, div, span, strong {
  font-family: Rubik, sans-serif !important;
}

em {
  .working_paper_date {
    font-size: 1.0rem;
  }
  .working_paper_status {
    font-size: 1.2rem;
  }
  .journal {
    font-size: 1.25rem;
    color: var(--global-theme-color);
  }
}

div.abstract.hidden {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border: 0 !important;
}
div.abstract.hidden.open {
    border-color: var(--global-text-color) !important;
    background-color: var(--global-card-bg-color) !important;

    p {

        font-size: 1rem !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
}

.links {
    padding-top: 0px;
    margin-bottom: 0.5rem;
    a {
        background-color: var(--global-button-bg-color) !important;
        color: var(--global-button-text-color) !important;
    }
    a:hover {
        background-color: var(--global-button-hover-bg-color) !important;
    }
}

@media (min-width: 576px) {
  .profile {
    width: 40% !important;
  }
}

body {
    font-size: 1.25rem;
}

span.course-badge {
  background-color: var(--global-theme-color);
}

h5.course-title {
  font-family: "Roboto Slab", "Times New Roman", serif !important;
  font-weight: bold;
  font-size: 1.3rem;
}

h1.post-title {
    font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.navbar {
    font-weight: 400;
}

.publications h2 {
    font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.publications .title {
    font-family: "Roboto Slab", "Times New Roman", serif !important;
    font-size: 1.4rem;
}

.publications .working_paper_date {
    font-size: 1rem;
    font-style: italic;
}

.publications .working_paper_status {
    font-size: 1.2rem;
}

.publications li .abbr {
    max-width: 12%;
}

.publications .author em {
    border-bottom: 0px !important;
}

.publications .author a {
    border-bottom: 1px dashed var(--global-text-color) !important;
    color: var(--global-text-color) !important;
}
.publications .author a:hover {
    border-bottom: 1px solid var(--global-text-color) !important;
}

div.container.mt-5 {
    margin-top: 2.5rem !important;
}

.navbar .navbar-brand {
    font-size: 1.5rem !important;
}